@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

head,
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.header_wrapper .navbar {
    background: #000000;
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 2;
}

.container-fluid .navbar-brand img {
    color: #ffffff;
    margin-top: -23px;
    width: 150px;
}
.navbar .container-fluid{
    display: flex;
}
.navbar ul{
    display: flex;
    list-style: none;
    
}
body .next-header {
    margin-top: 55px;
    background: #000000;
    width: 100vw;
}

.row .col h1 {
    color: white;
    font-size: 100px;
}

.row .col:first-child {
    width: 80%;
}

.row .col:last-child {
    width: 20%;
    height: 25vh;
    margin-top: auto;
}

.row .col img {
    width: 100%;
    height: 100%;
}

.row:last-child .col a {
    font-size: 70px;
    color: white;
}
.navbar .right a{
    color: #ffffff;
}
.navbar .right a:hover{
    text-decoration: none;
    color: azure;
}
.navbar .right a:visited{
    text-decoration: none;
    color: burlywood;
}
.row .col a:hover{
    text-decoration: none;
    color: azure;
}
.row .col a:visited{
    text-decoration: none;
    color: burlywood;
}

.container .row {
    margin-top: 10px;
}

.row .col {
    margin-top: 40px;
}

body .body {
    display: flex;
}

body .about-us {
    margin-top: 55px;
    background: #ffffff;
    width: 100vw;
    height: auto;
    display: flex;
    position: absolute;
    align-items: center;
}

.about-us .row .col:first-child {
    width: 30%;
    margin-top: inherit;
}

.about-us .row .col:last-child {
    width: 70%;
    margin-top: inherit;
}

.about-us .row .col:last-child h1,
p {
    color: #000000;
    text-align: left;
    font-size: medium;
}

.about-us .row .col:last-child h1 {
    color: #000000;
    text-align: left;
    font-size: 65px;
}

body .our-service {
    margin-top: 500px;
    background: #ffffff;
    width: 100vw;
    height: auto;
    display: grid;
    position: relative;
}

.our-service .heading {
    margin: 80px 120px;
}

.our-service .row {
    margin: 0px 60px;
    display: flex;
    overflow-x: scroll;
    position: relative;
    left: 20px;
    width: 90%;
}

.our-service .row .col {
    width: 33%;
    margin-top: 0;
}

.our-service .row .col .card {
    height: 40vh;
    margin: 40px;
    position: inherit;
}

.col .card:hover {
    animation-name: hover-effect;
    animation-duration: 0.3s;
}

@keyframes hover-effect {
    from {
        background-color: black;
        color: white;
    }
}

body .contact-us {
    background: #000000;
    color: #ffffff;
    height: 350px;
}


.contact-us .form .form-heading {
    display: flex;
    justify-content: center;
}

.contact-us .form .form-body .items {
    display: flex;
    justify-content: center;
}

.form-body .items input {
    width: 80%;
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.form-body .items:last-child {
    display: flex;
    justify-content: center !important;
}

.form-body .items:last-child input {
    width: 20%;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center !important;
}

.contact-us .items {
    border: none;
    line-height: 35px;
    margin: 10px;
}

@media (min-width:320px) and (max-width:480px) {
    .header_wrapper .navbar {
        display: inline-block;
        flex-direction: column;
        height: 150px;
        position: fixed;

    }

    .navbar ul{
        display: flex;
        list-style: none;
        margin-left: -48px;
        
    }

    body .next-header {
        margin-top: 148px;
        width: 480px;
    }

    .next-header .container {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
    }

    .next-header .col h1 {
        font-size: 40px;
    }

    .next-header .col:last-child img {
        position: absolute;
        height: 200px;
        width: 200px;
        margin-top: 230px;
        display: flex;
        margin-left: -290px;
    }

    .next-header .col a i {
        margin-left: -70px;
        margin-top: 172px;
    }

    .body .about-us {
        width: 480px;
        margin-top: 45px;
        height: 1000px;
    }

    .body .about-us .col:first-child {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 300px;
        height: auto;
        margin-left: 70px;
        margin-top: -330px;
    }

    .body .about-us .col:last-child {
        margin-top: 90px;
        font-size: 20px;
        margin-left: 72px;
    }

    .body .about-us .col:last-child h1 {
        font-size: 30px;
        margin-left: 70px
    }

    .body .about-us .col:last-child p {
        font-size: 20px;
    }

    .body .our-service {
        margin-top: 1000px;
        width: 100%;
        margin-left: 10px;
    }

    .body .our-service h1 {
        font-size: 30px;
        margin-left: 30px
    }

    .body .our-service .col .card {
        width: 150px;
        margin-top: -13px;
        margin-left: -25px;
    }

    .our-service .row {
        margin: 0;
    }
    body .contact-us{
        width: 480px;
        height: 300px;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .header_wrapper .navbar {
        height: 100px;

    }
    .navbar .container-fluid a{
        margin-left: 20px;
    }

    .container-fluid .navbar-toggler{
        color: #ffffff;
        border: 5px solid white;
    }

    body .next-header {
        margin-top: 200px;
        width: 768px;
    }

    .next-header .container {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
    }

    .next-header .col h1 {
        font-size: 40px;
        margin-left: 40px;
    }

    .next-header .col:last-child img {
        position: absolute;
        height: 200px;
        width: 200px;
        margin-top: 230px;
        display: flex;
        margin-left: -300px;
    }

    .next-header .col a i {
        margin-left: -50px;
        margin-top: 172px;
    }

    .body .about-us {
        width: 480px;
        margin-top: 30px;
        height: 1000px;
        margin-left: 60px;
    }

    .body .about-us .col:first-child {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 300px;
        height: auto;
        margin-left: 70px;
        margin-top: -330px;
    }

    .body .about-us .col:last-child {
        margin-top: 90px;
        font-size: 20px;
        margin-left: 72px;
    }

    .body .about-us .col:last-child h1 {
        font-size: 30px;
        margin-left: 70px
    }

    .body .about-us .col:last-child p {
        font-size: 20px;
    }

    .body .our-service {
        margin-top: 1000px;
        width: 100%;
        margin-left: 10px;
    }

    .body .our-service h1 {
        font-size: 30px;
        margin-left: 65px
    }

    .body .our-service .col .card {
        width: 150px;
        margin-top: -13px;
        margin-left: 10px;
    }

    .our-service .row {
        margin: 0;
    }
    body .contact-us{
        width: 768px;
        height: 320px;
    }
    .contact-us h1{
        margin-left: -140px;
    }
    .contact-us .items{
        width: 600px;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    .header_wrapper .navbar {
        height: 100px;

    }
    .navbar .container-fluid a{
        margin-left: 20px;
    }

    .container-fluid .navbar-brand img{
        width: 200px;
        font-size: 17px;
    }

    body .next-header {
        margin-top: 100px;
        width: 1024px;
    }

    .next-header .container {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
    }

    .next-header .col h1 {
        font-size: 40px;
        margin-left: 40px;
    }

    .next-header .col:last-child img {
        position: absolute;
        height: 200px;
        width: 200px;
        margin-top: 230px;
        display: flex;
        margin-left: -388px;
    }

    .next-header .col a i {
        margin-left: -123px;
        margin-top: 172px;
    }

    .body .about-us {
        width: 1024px;
        margin-top: 30px;
        height: 1000px;
        margin-left: 60px;
    }
    
    .body .about-us .col:first-child {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 300px;
        height: auto;
        margin-left: 70px;
        margin-top: -330px;
    }

    .body .about-us .col:last-child {
        margin-top: 90px;
        font-size: 20px;
        margin-left: 72px;
    }

    .body .about-us .col:last-child h1 {
        font-size: 40px;
        margin-left: 70px
    }

    .body .about-us .col:last-child p {
        font-size: 25px;
        margin-left: -117px;
        text-align: center;
    }

    .body .our-service {
        margin-top: 1000px;
        width: 100%;
        margin-left: 10px;
    }

    .body .our-service h1 {
        font-size: 40px;
        margin-left: 230px
    }

    .body .our-service .col .card {
        width: 250px;
        margin-top: -13px;
        margin-left: 10px;
    }

    .our-service .row {
        margin: 0;
    }
    body .contact-us{
        width: 1024px;
        height: 320px;
    }
    .contact-us h1{
        margin-left: -140px;
    }
    .contact-us .items{
        width: 900px;
    }
}
